## Bibliotecas

In [1]:
import numpy as np
import pandas as pd

## Leitura dos dados

In [2]:
avaliacoes = pd.read_csv("ratings.csv")
avaliacoes.head()

           UserId:ItemId  Rating
0  4baf0ac888:8b05db84f2       3
1  f3364fd7e6:8b05db84f2       2
2  72a8982204:8b05db84f2       5
3  d0171f7a9d:e40cec3cbe       5
4  e6dad08499:e40cec3cbe       5

## Cálculo da média de cada item

In [3]:
novas_colunas = avaliacoes["UserId:ItemId"].str.split(":", n = 1, expand = True)

avaliacoes["UserId"]= novas_colunas[0] 
avaliacoes["ItemId"]= novas_colunas[1] 
avaliacoes.drop(columns =["UserId:ItemId"], inplace = True)

In [4]:
itens_media = avaliacoes.groupby('ItemId')['Rating'].mean()
itens_media

ItemId
0000c77f48    5.0
000215e0ca    1.0
00022a9224    4.0
0003d519bf    3.0
0004b4d629    2.5
             ...
fffbc894ec    5.0
fffce7315b    4.5
fffd938521    2.6
fffe241def    2.5
fffe850a56    4.6
Name: Rating, Length: 83767, dtype: float64

## Leitura das predições a serem realizadas

In [5]:
alvos = pd.read_csv("targets.csv")
alvos.head()

           UserId:ItemId
0  33ce7ee122:34cb28c370
1  eab9e065e5:34cb28c370
2  f785763291:34cb28c370
3  5f8185d75d:34cb28c370
4  0eeef87507:1dfcdde662

In [6]:
novas_colunas = alvos["UserId:ItemId"].str.split(":", n = 1, expand = True)

alvos["ItemId"]= novas_colunas[1]

In [7]:
alvos

               UserId:ItemId      ItemId
0      33ce7ee122:34cb28c370  34cb28c370
1      eab9e065e5:34cb28c370  34cb28c370
2      f785763291:34cb28c370  34cb28c370
3      5f8185d75d:34cb28c370  34cb28c370
4      0eeef87507:1dfcdde662  1dfcdde662
...                      ...         ...
49625  435f4de184:8dba6546ea  8dba6546ea
49626  7593b90096:43d5d80b1b  43d5d80b1b
49627  88a5a164b1:43d5d80b1b  43d5d80b1b
49628  90df18a22b:58c3b27fe2  58c3b27fe2
49629  1892896766:f35bd0b55b  f35bd0b55b

[49630 rows x 2 columns]

## Geração dos ratings

In [11]:
arq_saida = open("non-personalized-results.csv", "w")

In [12]:
arq_saida.write("UserId:ItemId,Rating\n")

for linha in alvos.itertuples(index=False):
    
    rating = itens_media[linha[1]]
    arq_saida.write(linha[0] + "," + str(rating)+"\n")

In [13]:
arq_saida.close()